<div id="bluediv">
<ul>
    <a routerLink="/monitoring-component" routerLinkActive="active" ><i class="fa fa-angle-down"></i> Monitoring  </a>
    <br><br>
    <a> <i class="fa fa-server" aria-hidden="true"></i> Managed Elemant</a>
    <br><br>
    <a><i class="fa fa-sitemap" aria-hidden="true"></i> Network Map</a>
    <br><br>
    <a><i class="fa fa-pie-chart" aria-hidden="true"></i>Services</a>
    <br><br>
    <a> <i class="fa fa-share-alt"></i> Configurations</a>
    <br><br>
    <a> <i class="fa fa-bar-chart" aria-hidden="true"></i> Telemetry</a>
    <br><br>
    <a><i class="fa fa-cubes" aria-hidden="true"></i> Tasks</a>
    <br><br>
    <a><i class="fa fa-cube" aria-hidden="true"></i> Jobs</a>
    <br><br>
    <a> <i class="fa fa-bell"></i> Event</a>
    <br><br>
    <a><i class="fa fa-envelope"></i> Notifications</a>
    <br><br>
    <a><i class="fa fa-medkit" aria-hidden="true"></i> System Health </a>
    <br><br>
    <a routerLink="/settings-component" routerLinkActive="active" ><i class="fa fa-gear"></i> Settings</a>
  </ul>
</div>

<div id="whitediv">
<router-outlet></router-outlet>
</div>
